#root {
  overflow: hidden;
}
.landing-page {
  .column > .box {
    height: 100vh;
    .special {
      white-space: pre-wrap;
      overflow: auto;
      height: 100%;
    }
    textarea {
      width: 100%;
      height: 100%;
      font-size: 1em;
      line-height: 1.5;
    }
  }
  .dropdown-menu .dropdown-item {
    padding-right: 1rem;
  }
  .region:hover {
    background-color: yellow;
  }
  span.sel {
    background-color: orange;
  }
}
